# CI de Nivél 2 - Disparo automático em preriodos

name: 'Execução Agendada'

# Triggers ou Gatilhos de Execução
on:
  schuedule:
    - cron: '0 8 * * 1'

jobs:
  # Descrição do job
  e2e-tests:
    # Máquina que o job vai executar
    runs-on: ubuntu-latest

    # Passo a passo das ações do job
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalando Yarn
        run: npm install -g yarn

      - name: Instalando dependências
        run: yarn install

      - name: Instalando Playwright
        run: yarn playwright install

      - name: Teste E2E (end-to-end)
        run: yarn run e2e

      - name: Enviando relatório de testes
        uses: actions/upload-artifact@v4
        with:
          name: relatorio-de-testes
          path: ./playwright-report

